@import "tailwindcss";

@font-face {
  font-family: 'Karu';
  src: url('/fonts/Karu-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  font-family: "Karu", sans-serif;
}